*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1,h2{
    color: #FFFFFF;
}
h2{
    font-size: 1.2rem;
}


header{
    background-color: #02A28F;
    display: flex;
    justify-content: flex-start;
    padding: 1% 0 1% 14%;
}

#header-title{
    font-size: 2rem;
}


#container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.9rem;
    padding-top: 4%;
    margin-bottom: 5%;
}

/*MAIN*/

main{
    width: 48vw;
}


#container-blog{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 52vh;
    margin-bottom: 1.2rem;
}


#banner{
    width: 100%;
    height: 100%;
    display: flex; 
    padding-top: 3rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-start;
    background-image:linear-gradient(to bottom, #66666600 0% , #000000 100%), url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0.6rem;
    box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

#main-img{
    display: flex;
    flex-direction: column;
    padding: 0 0 1.3rem 1.3rem;
}

.banner-p{
    color: #FFFFFF;
    font-weight: 400;
}

#banner-title{
    font-size: 1.9rem;
}


  #frame-1{
    display:flex ;
    flex-direction: column;
    width: 100%;
  }

  #frame-title{
    background-color: #02A28F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 0 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

#frame-p{
    font-size: 0.7rem;
    color:#FFFFFF;
    text-decoration-line: underline;
    font-weight: 500;
    padding-right: 1rem
}


#container-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap: 0.5rem;
    margin-top: 0.8rem;
    width: 100%;
}
.cards{
    width: 48%;
    display: flex;
    flex-direction: column;
}

.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-cards{
    width: 100%;
}

.card-text{
    box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 0.7rem;
    border-radius: 0 0 1rem 1rem;
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.card-label{
    font-size: 0.8rem;
    font-weight: 600;
    color: #02A28F;
}

.cards-title{
    font-weight: 800;
    display: inline;
    overflow: hidden;
}

#the-chosen-one{
    padding-bottom: 0.25rem;
}

.cards-subtitle{
    font-size: 0.6rem;
    font-weight: 500;
    color: #616161;
}
b{
    font-size: 0.6rem;
}

.cards-p{
    font-size: 0.6rem;
    font-weight: 500;
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/*ASIDE*/

aside{
width: 25vw;
display: flex;
flex-direction: column;
gap: 0.82rem;
}

#side-cards{
    height: 50vh;
    display:flex;
    flex-direction: column;
    gap: 4.5%;
    margin-bottom: 1.3rem;
    max-width: 100%;
}

.main-title-side{
    color:#FFFFFF;
    background-color: #02A28F;
    padding: 0.75rem 0 0.75rem 2rem;
    border-radius: 0.6rem;
    text-align: start;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.side-img{
    height: 25%;
    display: flex;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 0.9rem 1rem;
    border-radius: 0.5rem;
}

.side-text{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-left: 0.9rem;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-side{
    font-size: 0.85rem;
    color: #000000;
    font-weight: 800;
    margin-top: 0.3125rem;
}

.p-side{
    font-size: 0.7rem;
    color: #616161;
    font-weight:500;
}


#categories-text{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.categories{
    display: flex;
    justify-content: space-between;
    color: #616161;
}


  footer{
    background-color: #02A28F;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 1.5rem 8rem;
    font-size: 1.5rem;
    background-size: cover;
  }

@media only screen and (min-width:1023px) and (max-width: 1439px) and (min-height: 768px) and (max-height: 899px)  {
    
    #container-cards{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        gap: 0.5rem;
        margin-top: 0.8rem;
        width: 100%;
    }

    .card-text{
        box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 0.625rem;
        border-radius: 0 0 1rem 1rem;
        gap: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 50%;
    }

    .cards-title{
        font-weight: 800;
        display: inline;
        overflow: hidden;
        font-size: 0.8rem;
    }

    #side-container{
        width: 35vw;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        }
}


  @media only screen and (max-width: 1023px) and (max-height: 767px)  {
    
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3.2rem;
        padding-top: 5%;
        
    }
         
    main{
        width: 97vw;
    }

    header{
        background-color: #02A28F;
        display: flex;
        justify-content: center;
        padding: 6% 1% 6% 1%;
    }

    #header-title{
        font-size: 1.5rem;
    }  
    
    #banner-title{
        font-size: 1.5rem;
    }

    aside{
    width: 97vw;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    }


    #frame-title{
        background-color: #02A28F;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0.6rem 0 0.6rem 0.6rem;
        border-radius: 0.6rem;
        box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
        gap:0.6rem;
    }

    #frame-p{
        font-size: 0.9rem;
        color:#FFFFFF;
        text-decoration-line: underline;
        font-weight: 500; 
    }

    #container-cards{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        gap: 1rem;
        margin-top: 0.2rem;
        width: 100%;
    }

    .cards{
        width: 100%;
        margin-top: 5%;
    }

    .main-title-side{
        color:#FFFFFF;
        background-color: #02A28F;
        padding: 0.8rem 2rem 0.8rem 2rem;
        border-radius: 0.6rem;
        text-align: center;
        box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    }

    footer{
        background-color: #02A28F;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        padding: 1.5rem 2rem;
        background-size: cover;
      }

      #copyright{
        font-size: 0.5rem;
      }
  }
    