*, 
    *:after,
    *:before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 16px;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }
h1{
    color: #FFFFFF;
}
h2{
    color: #FFFFFF;
    background-color: #02A28F;
    padding: 0.7rem 11rem 0.7rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    text-align: start;
}
#header{
    background-color: #02A28F;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 8rem;
    font-size: 2rem;
    background-size: cover;
}
#banner{
    display: flex;
    padding-top: 3rem; 
}
#container-blog{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
#side-cards{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.3rem;
}
.side-img{
    display: flex;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 0.9rem 1rem;
    border-radius: 0.5rem;
}
.side-text{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-left: 0.9rem;
}
.title-side{
    font-size: 0.9rem;
    color: #000000;
    font-weight: 800;
}
.p-side{
    font-size: 0.7rem;
    color: #616161;
    font-weight:500;
}