*, 
    *:after,
    *:before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 16px;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }
      main{
        margin-left:4rem ;
        margin-right: 4rem;
      }
h1{
    color: #FFFFFF;
}
h2{
    color:#FFFFFF;
    background-color: #02A28F;
    padding: 0.7rem 11rem 0.7rem 2rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    text-align: start;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
#header{
    background-color: #02A28F;
    display: flex;
    justify-content: flex-start;
    padding: 1.5rem 5rem;
    font-size: 2rem;
    background-size: cover;
}
#banner{
    display: flex;
    padding-top: 3rem; 
}
#container-blog{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
#side-cards{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.3rem;
}
.side-img{
    display: flex;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 0.9rem 1rem;
    border-radius: 0.5rem;
}
.side-text{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-left: 0.9rem;
}
.title-side{
    font-size: 0.9rem;
    color: #000000;
    font-weight: 800;
}
.p-side{
    font-size: 0.7rem;
    color: #616161;
    font-weight:500;
}
#half-cent{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-right: 1.7rem;
    margin-left: 1.4rem;
    margin-bottom: 4rem;

  }
  #frame-1{
    display:flex ;
    flex-direction: column;
    width: 90%;
  }
  #frame-title{
    background-color: #02A28F;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16rem;
    border-radius: 0.5rem;
    padding:0.2rem 0rem;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
#frame-p{
    font-size: 0.8rem;
    color:#FFFFFF;
    text-decoration-line: underline;
    font-weight: 500;
    padding-right: 1rem;
}
#categories-text{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}
.categories{
    display: flex;
    justify-content: space-between;
    color: #616161;
}
#container-cards{
    display: flex;
    flex-wrap:wrap;
    gap: 1.3rem;
    margin-top: 0.8rem;
    width: 90%;
}
.cards{

}
.card-text{
    box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 1rem;
}
.card-text-container{
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card-label{
    font-size: 0.8rem;
    font-weight: 600;
    color: #02A28F;
}
.cards-title{
    font-size: 1.2rem;
    font-weight: 700;
}
.cards-subtitle{
    font-size: 0.8rem;
    font-weight: 500;
    color: #616161;
}
.cards-p{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: justify;
}
  footer{
    background-color: #02A28F;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 1.5rem 8rem;
    font-size: 1.5rem;
    background-size: cover;
  }