*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1, h2{
    color: #FFFFFF;
}

h2 { 
    font-size: 1.2rem;
}


header {
    background-color: #02A28F;
    display: flex;
    justify-content: flex-start;
    padding:  1% 0 1% 14%; /*1% padding em cima e em baixo e 14% padding a esquerda*/
}

#header-title {
    font-size: 2rem;
}


#container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 1%;
    margin-bottom: 50px;
}


main {
    width: 45vw;
    /* background-color: blue; */
}

#container-blog{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 50vh;
    margin-bottom: 20px;

}

#banner{
    width: 100%;
    /* display: flex; 
     padding-top: 3rem;  */

}

#main-img {
    background-color: pink;
    width: 100%
}



#frame-1{
    display:flex ;
    flex-direction: column;
    /* width: 90%; */
}


#frame-title{
    background-color: #02A28F;

    display: flex;
    align-items: center;
    justify-content: space-between;/*Coloquei esse between aqui, estava center, isso é falta de conhecimento em flexbox*/

    padding: 12px 0 12px 20px;/*Ajustei padding aqui antes estava apenas com padding superior e horizontal, ajustei e tirei o gap porque n faz sentido aqui*/

    border-radius: 0.5rem;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

#frame-p{
    font-size: 0.7rem;
    color:#FFFFFF;
    text-decoration-line: underline;
    font-weight: 500;
    padding-right: 1rem;
}


#container-cards{
    display: flex;
    justify-content: space-between; /*Adicionei essa linha para criar um espaço máximo entre os conteudo e colar eles nas bordas, não tinha aqui antes isso demonstra lacuna de conhecimento em flex-box, não tente alinha tudo com margin e padding*/
    flex-wrap:wrap;
    gap: 1.3rem;/*so pra vc n esquecer seria melhor usar pixel, mas esse serve*/
    margin-top: 0.8rem;
    /* width: 90%; */
    /* background-color: red; */
}

.cards{
    /*pra que criou essa classe então se não utiliza ela?*/
    width: 48%; /*Colocar tamanho pra delimitar, em projeto grande os textos podem vim de qaulquer tamanho, seu design n pode quebrar se vinher texto muito grande*/
    height: 40%;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 41.5%;
}

.img-cards{
    width: 100%;
}

.card-text{
    box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 0 0 16px 16px; /*Desta forma apenas o canto inferior esquerdo e direito ficam com o border radius*/
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.card-label{
    font-size: 0.8rem;
    font-weight: 600;
    color: #02A28F;
}

.cards-title{
    font-size: 1.2rem;
    font-weight: 700;
}

.cards-subtitle{
    font-size: 0.8rem;
    font-weight: 500;
    color: #616161;
}

.cards-p{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;   /* Exibe os três pontinhos quando o texto ultrapassar do container */
}


#side-container {
    width: 21vw;
    /* background-color: pink; */
}

#side-cards{
    height: 50vh;/*mesmo height do container-blog, pra eles manterem alinhados, mas tem projetos que não necessita está alinha um lado com o outro, aí vc coloca como melhor ajustar os conteudo internos de cada independente*/
    display:flex;
    flex-direction: column;
    gap: 4%;
    margin-bottom: 20px;
}

.main-title-side{
    color:#FFFFFF;
    background-color: #02A28F;
    padding: 12px 0 12px 32px;
    border-radius: 0.6rem;
    text-align: start;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.side-img{
    height: 25%;
    display: flex;
    box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 0.9rem 1rem;
    border-radius: 0.5rem;
}

.side-text{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-left: 0.9rem;
}

.title-side{
    font-size: 0.85rem;
    color: #000000;
    font-weight: 800;
    margin-top: 5px;
}

.p-side{
    font-size: 0.7rem;
    color: #616161;
    font-weight:500;
}


#categories-text{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.categories{
    display: flex;
    justify-content: space-between;
    color: #616161;
}


footer {
    background-color: #02A28F;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 1.5rem 8rem;
    font-size: 1.5rem;
    background-size: cover;
}